<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon.png">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Настройки
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  <link href="../css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../css/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
      <b>
    <div class="sidebar" data-color="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->

      <div class="logo">
        <a class="simple-text logo-normal">
          <b>ReBook App</b>
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/profile">
              <i class="now-ui-icons design_app"></i>
              <p>Начало</p>
            </a>
          </li>
          <li>
            <a href="/profile/classrooms">
              <i class="fas fa-comments"></i>
              <p>Класни стаи</p>
            </a>
          </li>
		  <li>
            <a href="/profile/ebooks">
              <i class="fas fa-book-open"></i>
              <p>Електронна тетрадка</p>
            </a>
          </li>
          <li>
                <a href="/profile/tools">
                  <i class="fas fa-tools"></i>
                  <p>Инструменти</p>
                </a>
              </li>
            <li>

            <a href="/profile/calendar">
              <i class="fas fa-calendar-check"></i>
              <p>Календар</p>
            </a>
          </li>
          <li>
            <a href="/profile/user">
              <i class="now-ui-icons users_single-02"></i>
              <p>Моят профил</p>
            </a>
          </li>
          <li class="active active-pro">
            <a href="/profile/settings">
              <i class="now-ui-icons loader_gear"></i>
              <p>Настройки</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
	</b>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" style = "font-size: 15pt"><b>Настройки</b></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons users_single-02"></i>
                  <p>
                    <span class="d-lg-none d-md-block">За мен</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/profile/user"> <i class="now-ui-icons users_single-02"></i><b>Профил</b></a>
                  <a class="dropdown-item" href="/profile/settings"><i class="now-ui-icons loader_gear"></i><b>Настройки</b></a>
                  <a class="dropdown-item" style = "color: #db0f0f" href="/auth/logout"><i class="fas fa-sign-out-alt"></i><b>Изход от профил</b></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-upgrade">
              <!--<div class="card-header text-center">
                <h4 class="card-title">Now UI Dashboard PRO</h4>
                  <p class="card-category">Are you looking for more components? Please check our Premium Version of Now UI Dashboard PRO.</p>
              </div>-->
              <div class="card-body">
                <div class="table-responsive table-upgrade">
                </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label><b>Парола</b></label>
                        <input type="password" class="form-control" required name="pass" value=""><br>
						<label><b>Потвърди парола</b></label>
                        <input type="password" class="form-control" required name="passconf" value="">
                      </div>
                    </div>
					<br>
                   
					<!--<div>
						<label><b>Тъмна тема</b></label><br>
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
					</div><br>-->
				<div class = "nonselect">
					<label><b>Цвят на менюто</b></label><br>
					<input type="radio" id="blue" name="color" value="blue" checked>
					<label style = "background-color: #1d6fc2; color: #1d6fc2;" for="blue">Цвят.</label><br>
					<input type="radio" id="green" name="color" value="green">
					<label style = "background-color: #1e9111; color: #1e9111;" for="green">Цвят.</label><br>
					<input type="radio" id="orange" name="color" value="orange">
					<label style = "background-color: #f96332; color: #f96332;" for="orange">Цвят.</label><br>
					<input type="radio" id="red" name="color" value="red">
					<label style = "background-color: #d62b2b; color: #d62b2b;" for="red">Цвят.</label><br>
					<input type="radio" id="yellow" name="color" value="yellow">
					<label style = "background-color: #d99a09; color: #d99a09;" for="yellow">Цвят.</label><br>
				</div>
				
					
					
					<button class="btn btn-primary btn-block text-uppercase" style = "background-color: #409131;" type="submit"><b>ЗАПАЗИ ПРОМЕНИТЕ</b></button>

                  

  <%- include('./runners/daylilogin') %>
  <script src="../js/demo.js"></script>
  <!--   Core JS Files   -->
  <script src="../js/core/jquery.min.js"></script>
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="../js/plugins/chartjs.min.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project!-->

</body>

</html>
